<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
        <title>Password Protected</title>
</head>

<body>
    <%- include("../partials/header") %>
    <div class="card w-75 mx-auto mt-3">
        <div class="card-body">
          <h5 class="card-title">This paste is password protected</h5>
          <div class="card-body">
            <% if (locals.error) {%>
                <div class="alert alert-danger" role="alert">
                    <%=error%>
                </div>
            <% } %>
            <form action="/<%if(locals.action) {%><%= action %>/<%}%><%= pasteId %>" method="post">
                <div class="mb-3">
                    <label for="passphrase" class="form-label">Password</label>
                    <input type="password" class="form-control" id="passphrase" name="passphrase"
                        placeholder="Enter password">
                </div>
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </form>
          </div>
        </div>
    </div>
    <%- include("../partials/footer") %>
</body>

</html>