<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
    <title>
        <%= paste.name + " | PASTE" %>
    </title> 
</head>

<body>
    <%- include("../partials/header") %>
    <div class="container-fluid p-3">
        <%- include("../partials/paste-widget") %>
    </div>
    <%- include("../partials/footer") %>
</body>
</html>